<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pype PHP</title>
</head>
<body>

    <h1> Welcome to Pype PHP</h1>
    <p> Pype PHP is a modern PHP framework that provides a fast and efficient way to build web applications.</p>
    <small>Built and developed by comibyte</small>
</body>
</html>